@import 'meyer-reset.css';

/*SETTINGS*/
html {
    --black: #333;
    --white: rgb(229,231,235);
    --color: rgb(60,130,246);
    --dark: rgb(31, 41, 55);
    
}


/*SETUP (also great setup for every page)s*/
*{
    box-sizing: border-box;
}

picture{
    display: block;
    max-width: 500px;
}
img{
    display: block;
    width: 100%;
    height: auto;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

p a, li a {
    color: var(--color);
    text-decoration: underline;
    display: block;
}








/*DEV STYLES*/

/* body * {
    border: 1px soliid blue;
    padding: 2px;
}

inner-column {
    border: 8px solid orange;
}
image-holder{
    border: 8px solid dodgerblue
}

header, footer, main{
    border: 8px solid red;
}

section{
    border: 8px solid cyan;
} */

/*STRUCTURE */
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh
}
main{
flex-grow:1;

}

inner-column {
    display: block;
    padding: 10px;
    width: 98%;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    /**/
    padding-top: 10vh;
    padding-bottom: 10vh;
}

header inner-column {
    padding: 10px;

}

/*TYPOGRAPHY*/
.loud-voice {
    font-family: sans-serif ;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.8;
    color: #f9faf8;
}

@media(min-width:700px) {
    .loud-voice {
        font-family: sans-serif ;
        font-size: 32px;
       
      
    
    }
}


.calm-voice {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.8rem;
    color: #e5e7eb;
}



/*COMPONENTS*/


.button{
    font-family: sans-serif;
    display: inline-block;
    background-color: var(--color);
    color: white;
    font-size: 1.2rem;
    padding: 0.6em 1em;
    border-radius: 6px;
}





/*MODULES*/
image-holder{
    display: block;
    display: flex;
    gap: 20px;
    flex-direction: column;

}


image-holder picture{
       
}
image-holder text-content{
    display: block;

}


image-holder text-content .button {
    margin-top: 10px;

}




@media (min-width:700px) {
    image-holder {
        flex-direction: row-reverse;
    
    }

    image-holder :is(text-content, picture) {
       flex-basis: 50%;
        
    }

.welcome {
    background-color:var(--dark);
    color: var(--white)
}

.welcome .button {
    background-color:var(--color);
    color: var(--white)
}

