@import 'meyer-reset.css';

/*SETTINGS*/
html {
    --maintext: #f9faf8 ;
    --secondarytext: grey;
    --button: rgb(60,130,246);
    --buttoncolor: #3882f6;
   
   
   
   
    
    --headerfooter: #1f2937;
    --quotebackround: #e5e7eb;
        --quote: black;
   
    
  
    --bodytext: #1f2937 ;
    

    
}


/*SETUP (also great setup for every page)s*/
*{
    box-sizing: border-box;
}

header {
    padding-left: 180px;
    padding-right: 180px;
}

picture{
    display: block;
    max-width: 500px;
}
img{
    display: block;
    width: 100%;
    height: auto;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

p a, li a {
    color: var(--color);
    text-decoration: underline;
    display: block;
}








DEV STYLES

body * {
    border: 1px soliid blue;
    padding: 2px;
}

inner-column, wide-column {
    border: 8px solid orange;
}
image-holder{
    border: 8px solid dodgerblue
}

header, footer, main{
    border: 8px solid red;
}

section{
    border: 8px solid cyan;
}
 */



/*STRUCTURE
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh
}
main{
flex-grow:1;

}

inner-column {
    display: block;
    padding: 10px;
    width: 98%;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
    /**/
    padding-top: 10vh;
    padding-bottom: 10vh;
}

header inner-column {
    padding: 30px;

}

.c2a {
    background-color: var(--section4);
}

.copyright{
    display: flex;
    align-content: center;
    justify-content: center;
    color: var(--secondarytext);
}

/*TYPOGRAPHY*/
.loud-voice {
    font-family: sans-serif ;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.8;
    color: var(--maintext);
}
@media(min-width:700px) {
    .loud-voice {
        font-family: sans-serif ;
        font-size: 32px;
    }
}


.product-title{
    color: var(--bodytext);
    font-size: 36px;
    font-weight: 900;
}


.calm-voice {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.8rem;
    color: var(--secondarytext);
}



/*COMPONENTS*/


.button, .signup{
    font-family: sans-serif;
    display: inline-block;
    background-color: var(--buttoncolor);
    color: var(--maintext);
    font-size: 1.2rem;
    padding: 0.6em 1em;
    border-radius: 6px;
    border: 2px solid var(--maintext);

}



.quote-section {
    background-color: var(--quotebackround);
    font-size: 36px;
    width: 100%;
    height: 200px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-content: center;
} 
.quote{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--quote);
}
.quote.id{
    display: flex;
    justify-content: right;
    font-style: none;
    font-weight: 700;
    
    }



    
   

.blue-box{
        display: flex;
        flex-direction: column;
        background-color: var(--buttoncolor);
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        padding: 60px;
        border-radius: 6px;
        border: 2px solid var(--maintext);
        
        
}
.big-text {
    color: var(--maintext);
    font-weight: 900;
    font-size: 24px;
}
.small-text{
    color: var(--maintext);
    font-size: 18px;
}






/*MODULES*/
image-holder{
    display: block;
    display: flex;
    gap: 20px;
    flex-direction: column;

}


image-holder picture{
       
}
image-holder text-content{
    display: block;

}


image-holder text-content .button {
    margin-top: 10px;

}





@media (min-width:700px) {
    image-holder {
        flex-direction: row-reverse;
    
    }

    image-holder :is(text-content, picture) {
       flex-basis: 50%;
        
    }
/*Perfect Grid Setup*/

    product-grid .product-list{
        display: flex;
       justify-content: center;
    }
       
.header{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.header-logo{
    color: var(--maintext);
    font-size: 48px;
}
.header-links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: var(--secondarytext);
    font-size: 18px;
    float: right;
    position: relative;
    margin-top: 15px;
}

.welcome, header, footer {
    background-color:var(--headerfooter);
    display: block;
}

.welcome .button {
    background-color:var(--button);
    color: var(--maintext)
}


.product-title{
    padding-bottom: 30px;
}
.product {
    color: var(--secondarytext);
    text-align: center;
    
}


wide-column {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: var(--quotebackround);
    width: 100%;
}